* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
  margin: 50px 0px;
  background-color: rgb(208, 209, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  height: 30px;
  width: 300px;
  background-color: rgb(188, 243, 144);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

.box {
  background-color: white;
  min-width: 300px;
  max-width: 475px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.box li {
  list-style: none;
  height: 40px;
  width: 40px;
  background-color: rgb(148, 223, 198);
  margin: 10px;
  border: solid 2px rgb(163, 145, 145);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
