@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
}

body {
    background-color: black;
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.Logo {
    position: absolute;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
}

.Logo img {
    height: 70px;
    border-radius: 50%;
}

.logo {
    font-family: "Lato", Arial, sans-serif;
    font-size: calc(2em);
    letter-spacing: 0.01em;
    color: #eee;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: none;
}

/* Cuboid Positioning */

.cuboid,
.cuboid-face {
    display: inline-block;
}

.cuboid {
    font-size: 0.75em;
    position: relative;
    height: 0.5em;
    width: 1em;
    vertical-align: middle;
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(-45deg);
    animation: rotateCuboid 3s ease-in-out infinite;
}

.cuboid-face {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0.08em solid #eee;
}

.cuboid-face-top,
.cuboid-face-bottom {
    height: 1em;
}

.cuboid-face-front {
    transform: translateZ(0.5em);
    animation: faceFront 3s ease-in-out infinite;
}

.cuboid-face-back {
    transform: rotateY(180deg) translateZ(0.5em);
    animation: faceBack 3s ease-in-out infinite;
}

.cuboid-face-left {
    transform: rotateY(-90deg) translateZ(0.5em);
    animation: faceLeft 3s ease-in-out infinite;
}

.cuboid-face-right {
    transform: rotateY(90deg) translateZ(0.5em);
    animation: faceRight 3s ease-in-out infinite;
}

.cuboid-face-top {
    transform: rotateX(90deg) translateZ(0.5em);
}

.cuboid-face-bottom {
    transform: rotateX(-90deg);
}

/* Animations */

@keyframes faceFront {
    50% {
        transform: translateZ(0.7em);
    }
}

@keyframes faceBack {
    50% {
        transform: rotateY(180deg) translateZ(0.7em);
    }
}

@keyframes faceLeft {
    50% {
        transform: rotateY(-90deg) translateZ(0.7em);
    }
}

@keyframes faceRight {
    50% {
        transform: rotateY(90deg) translateZ(0.7em);
    }
}

@keyframes rotateCuboid {
    100% {
        transform: rotateX(-40deg) rotateY(-405deg);
    }
}

nav {
    height: 70px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



nav .nav-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    text-decoration: none;
}


.btn {
    padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

.btn:hover, :focus {
    color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}


/* Jonin now button start */
.continue-application {
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
  }
  
  .continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application > div .folder:before, .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application:after {
    --r: 45deg;
  }
  
  .continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }

  /* Jonin now button End */
  
a {
    text-decoration: none;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn-section {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}